In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

In [2]:
#Load part 1 data from csv

weather_data = pd.read_csv("cities.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Cabo San Lucas,57,MX,1632001931,71,22.8909,-109.9124,92.80,10.51
1,Vaini,75,TO,1632002209,94,-21.2000,-175.2000,75.36,6.91
2,Nemuro,83,JP,1632002210,94,43.3236,145.5750,59.23,16.44
3,Mataura,100,NZ,1632002210,92,-46.1927,168.8643,44.47,4.79
4,Bluff,100,NZ,1632002210,78,-46.6000,168.3333,44.80,12.08
...,...,...,...,...,...,...,...,...,...
546,Shubarshi,20,KZ,1632002573,59,48.5872,57.1869,41.14,5.73
547,Morondava,54,MG,1632002573,57,-20.2833,44.2833,69.58,17.63
548,Jati,16,PK,1632002574,78,24.3539,68.2671,83.35,13.09
549,Lingao,4,CN,1632002574,83,19.9103,109.6859,78.40,5.50
550,Houma,40,US,1632002384,73,29.5958,-90.7195,88.00,8.03

In [3]:
#Create a heat map that displays the humidity for every city from Part I.

gmaps.configure(api_key=g_key)
# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["Lat", "Lng"]].astype(float)

humidity = weather_data["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
max_intensity

100

In [6]:
## Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
new_city_df = weather_data.loc[(weather_data["Wind Speed"]<=10) & (weather_data["Cloudiness"] == 0)&(weather_data["Max Temp"]>=60) & (weather_data["Max Temp"]<=80)].dropna()
new_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
20,Paso de los Toros,0,UY,1632002217,82,-32.8167,-56.5167,61.14,5.46
26,Kiryat Gat,0,IL,1632001921,68,31.6100,34.7642,76.82,5.44
31,Belen,0,TR,1632002222,69,36.4891,36.2233,69.03,4.59
33,Naples,0,IT,1632002223,80,40.8333,14.2500,75.81,2.30
56,Marsá Maţrūḩ,0,EG,1632002233,83,31.3525,27.2453,77.20,6.91
126,Juegang,0,CN,1632002262,90,32.3174,121.1855,69.24,8.34
133,Cape Town,0,ZA,1632002265,73,-33.9258,18.4232,60.89,7.00
136,Karratha,0,AU,1632002267,38,-20.7377,116.8463,70.99,7.05
154,Kibala,0,TD,1632002274,94,9.1104,18.3463,76.95,0.00
245,Huilong,0,CN,1632002314,84,31.8111,121.6550,71.98,9.62
254,Korla,0,CN,1632002318,25,41.7597,86.1469,70.65,4.54
269,Ardakān,0,IR,1632002445,14,32.3100,54.0175,79.54,9.17
315,Oytal,0,KZ,1632002473,28,42.9057,73.2697,68.13,4.23
330,Mzimba,0,MW,1632002480,79,-11.9000,33.6000,63.46,8.39
359,Agadir,0,MA,1632002273,86,30.4202,-9.5982,72.05,8.90
390,Taft,0,IR,1632002506,10,31.7471,54.2088,73.63,3.53
419,Carbonia,0,IT,1632002518,67,39.1672,8.5222,73.99,3.65
424,Vera Cruz,0,BR,1632002494,29,-12.6333,-41.0333,72.95,4.59
440,Nisibis,0,TR,1632002528,28,37.0778,41.2178,75.49,4.59
443,Ayní,0,TJ,1632002529,27,39.3941,68.5377,66.09,3.60
444,San Luis,0,AR,1632002529,34,-33.2950,-66.3356,73.44,0.74
445,Aksu,0,CN,1632002530,31,41.1231,80.2644,70.59,3.31
461,Zabul Province,0,AF,1632002537,11,32.2500,67.2500,67.55,6.49
482,Yangi Marg`ilon,0,UZ,1632002546,14,40.4272,71.7189,65.62,1.74

In [7]:
# Store into variable named hotel_df.
# Add a "Hotel Name" column to the DataFrame.
# Set parameters to search for hotels with 5000 meters.
# Hit the Google Places API for each city's coordinates.
# Store the first Hotel result into the DataFrame.
# Plot markers on top of the heatmap

hotel_df = new_city_df.loc[:,["City","Country","Lat","Lng"]]
#Add hotel name to the dataframe
hotel_df["Hotel Name"] = ""
#Display Result
hotel_df

                  City Country      Lat       Lng Hotel Name
20   Paso de los Toros      UY -32.8167  -56.5167
26          Kiryat Gat      IL  31.6100   34.7642
31               Belen      TR  36.4891   36.2233
33              Naples      IT  40.8333   14.2500
56        Marsá Maţrūḩ      EG  31.3525   27.2453
126            Juegang      CN  32.3174  121.1855
133          Cape Town      ZA -33.9258   18.4232
136           Karratha      AU -20.7377  116.8463
154             Kibala      TD   9.1104   18.3463
245            Huilong      CN  31.8111  121.6550
254              Korla      CN  41.7597   86.1469
269            Ardakān      IR  32.3100   54.0175
315              Oytal      KZ  42.9057   73.2697
330             Mzimba      MW -11.9000   33.6000
359             Agadir      MA  30.4202   -9.5982
390               Taft      IR  31.7471   54.2088
419           Carbonia      IT  39.1672    8.5222
424          Vera Cruz      BR -12.6333  -41.0333
440            Nisibis      TR  37.0778   41.2178
443               Ayní      TJ  39.3941   68.5377
444           San Luis      AR -33.2950  -66.3356
445               Aksu      CN  41.1231   80.2644
461     Zabul Province      AF  32.2500   67.2500
482    Yangi Marg`ilon      UZ  40.4272   71.7189

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}



for index,row in hotel_df.iterrows():
    #get lag,lng,city
    lat = row["Lat"]
    lng = row["Lng"]
    cityname = row["City"]
    
    # add keyword to params dict
    params['location'] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {cityname}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel in {cityname}  is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        
       
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 20: Paso de los Toros.
Closest hotel in Paso de los Toros  is Hotel FK Paso de los Toros.
------------
Retrieving Results for Index 26: Kiryat Gat.
Closest hotel in Kiryat Gat  is Desert Gat.
------------
Retrieving Results for Index 31: Belen.
Closest hotel in Belen  is Varlıbaş Uyku Sarayı.
------------
Retrieving Results for Index 33: Naples.
Closest hotel in Naples  is B&B Hotel Napoli.
------------
Retrieving Results for Index 56: Marsá Maţrūḩ.
Closest hotel in Marsá Maţrūḩ  is Beau Site.
------------
Retrieving Results for Index 126: Juegang.
Closest hotel in Juegang  is Landison Hotel Nantong.
------------
Retrieving Results for Index 133: Cape Town.
Closest hotel in Cape Town  is President Hotel.
------------
Retrieving Results for Index 136: Karratha.
Closest hotel in Karratha  is Best Western Plus The Ranges Karratha.
------------
Retrieving Results for Index 154: Kibala.
Closest hotel in Kibala  is hotel safari.
------------
Retrieving Results for Index 245: Huilong.
Closest hotel in Huilong  is Hilton Garden Inn Qidong.
------------
Retrieving Results for Index 254: Korla.
Closest hotel in Korla  is The Garden Hotel Korla.
------------
Retrieving Results for Index 269: Ardakān.
Closest hotel in Ardakān  is Kheshtomah Ecolodge.
------------
Retrieving Results for Index 315: Oytal.
Closest hotel in Oytal  is Sanatorium Ak-Niet.
------------
Retrieving Results for Index 330: Mzimba.
Closest hotel in Mzimba  is Mame Motel.
------------
Retrieving Results for Index 359: Agadir.
Closest hotel in Agadir  is Hotel Riu Tikida Dunas.
------------
Retrieving Results for Index 390: Taft.
Closest hotel in Taft  is abibi hostel.
------------
Retrieving Results for Index 419: Carbonia.
Closest hotel in Carbonia  is Lu 'Hotel.
------------
Retrieving Results for Index 424: Vera Cruz.
Missing field/result... skipping.
------------
Retrieving Results for Index 440: Nisibis.
Closest hotel in Nisibis  is Avesis Hotel & Restaurant.
------------
Retrieving Results for Index 443: Ayní.
Closest hotel in Ayní  is Gostinitsa.
------------
Retrieving Results for Index 444: San Luis.

In [ ]:

# Display the hotel dataframe
hotel_df

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
 #Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig